*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFFFFF;
}
#header{
background: black;
padding: 10px;
}
#header ul li {
    list-style: none;
    display: inline;
    padding: 10px;
}

#header ul li a {
color: white;
text-decoration: none;
padding: 10px;
}

#footer {
    background: #ccc;
    padding: 20px;
}
#main {
    padding: 20px 0;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}


.errores{
    color : #ac2323;
}

.fc th{
    padding: 10px 0px;
    vertical-align: middle;
    background: #f2f2f2;
}

